<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a master student at
      <a class="underline-link" href="https://www.unige.it/" target="_blank">University of Genova</a> in computer vision track. 
      I also have postgraduate academic studies in mathematics at 
      <a class="underline-link" href="https://kntu.ac.ir//" target="_blank">K. N. Toosi University of Technology. </a>
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and mathematics &mdash; combining my technical knowledge
      with my keen eye for problem solving to create a professional product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably camping in the pristine nature, adventuring around or cycling.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
