<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Platforms</div>
        <ul>
          {% for platform in site.data.skills.platforms %}
          <li class="skillz__category__item">{{platform.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Mathematics</div>
        <ul>
          {% for math in site.data.skills.mathematics %}
          <li class="skillz__category__item">{{math.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Web</div>
        <ul>
          {% for thing in site.data.skills.web %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Libraries</div>
        <ul>
          {% for lib in site.data.skills.libraries %}
          <li class="skillz__category__item">{{lib.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
